/*
Theme Name: Salient Child Theme
Theme URI: http: //mysite.com/
Description: This is a custom child theme for Salient
Author: My Name
Author URI: http: //mysite.com/
Template: salient
Version: 0.1
*/

#mobile-menu {
	background-color: #12003d;
}

#mobile-menu ul li a {
	color: #fff;
	-webkit-font-smoothing: auto;
}

#mobile-menu input[type=text] {
	background-color: #efefef;
}





