a {
	color: #999999;
}
a:hover {
	color: #e93735;
}
.grey {
	background-color:#e93735;
}
.grey:hover {
	background-color:#222222;
}
.color {
	background-color:#222222;
}
.color:hover {
	background-color:#e93735;
}
.parallax-overlay.parallax-background-color {
	background-color:rgba(233,55,53,0.90);
}
span.text-color {
	color:#e93735;
}
.bar li span {
	background-color:#e93735;
}
.service-item.text-right .fa-stack {
	color:#e93735;
}
.service-item.text-left .fa-stack {
	color:#e93735;
}
ul.technology li i {
	color:#e93735;
}
ul.technology li:hover {
	background-color:#e93735;
}
ul.technology li:hover:before {
	border-color:#fff #fff #b21e1d #b21e1d;
}
#filters ul li a:hover h5, #filters ul li a.active h5 {
	background-color:#e93735;
}
.project-overlay {
	background-color:#e93735;
}
#contact-formular input[type="submit"], input[type="submit"] {
	background:#e93735;
}
#contact-formular input[type="submit"]:hover, input[type="submit"]:hover {
	background:#222222;
}
#menu_top {
	background-color:#e93735;
}
.blog-title a {
	color:#222222;
}
.blog-title a:hover {
	color:#e93735;
}
.blog-type {
	background-color:#e93735;
}
.post-quote {
	background-color:#e93735;
}
.post-quote:hover {
	background-color:#222222;
}
#sidebar .widget_categories li a:hover {
	color: #e93735;
}
#sidebar .recent-posts li a:hover {
	color: #e93735;
}
#sidebar .tagcloud a:hover {
	background-color:#e93735;
}
#sidebar .widget_archives li a:hover {
	color: #e93735;
}
.inner-navigation li a:hover span {
	background-color:#222222;
}
.inner-navigation li a span {
	background-color:#e93735;
}
.accordion dt.accordion-active span.accordion-status {
	background-color:#e93735;
}
.toggle-active {
	background: #e93735;
}
ul.tabs .tab-active a {
	background-color: #e93735;
}
.dropcap-normal {
	color: #e93735;
}
.dropcap.dark {
	background-color: #e93735;
}
.counters i {
	color: #e93735;
}
.fa-ul li i {
	color:#e93735;
}
.the-icons li i {
	color: #e93735;
}
.price-table i {
	color: #e93735;
}
.price-table:hover i {
	background-color: #e93735;
	border-color: #e93735;
}
.primary-color-background {
	background-color: #e93735;
}
i.normal-icon {
	color:#e93735;
}
i.icon-circle-box {
	background-color:#e93735;
}
i.icon-circle-box:hover {
	background-color:#222;
}
.fa-ul.big-list li i {
	background:#e93735;
}
.team-profile-new {
	background-color:#e93735;
}
.new-service-item i {
	background-color:#e93735;
}
.service-icon-border {
	border:1px solid #e93735;
}
.project-info-new {
	background-color:#e93735;
}
.newave-newsletter {   background-color:#e93735;}